@font-face
  font-family: 'SteelfishRegular'
  src: url('steelfish-webfont.eot')
  src: local("☺"), url('steelfish-webfont.woff') format("woff"), url('steelfish-webfont.ttf') format("truetype"), url('steelfish-webfont.svg#webfontqOlXtNFb') format("svg")
  font-weight: normal
  font-style: normal

.font
  font-family: 'SteelfishRegular'
  font-size: 120px
  color: black