@import "fonts"
@import "colors"

body.green
  background: $green
body.blue
  background: $blue
body.pink
  background: $pink
body.white
  background: white
#tweets_feeder
  margin: 0 auto
  
.tweet
  position: relative
  width: 960px
  display: inline
  @include font_builder($size: 100px)
  padding: 50px
  line-height: 120px
  height: 1024px

  img
    float: left
    width: 50px
    height: 50px
    margin-right: 10px

#entitie
  width: 640  px
  height: 480px
  position: absolute
  top: 0px
  z-index: 100


#owner_list
  position: absolute
  bottom: 0px
  left: 0px
  display: inline-block
  width: 100% !important

  #owner
    height: 50px
    float: left 
    @include font_builder($size: 30px, $color: $black)
    
    span
      float: left
      line-height: 50px
      margin-right: 10px

    img
      float: left
      width: 50px
      height: 50px
      margin-right: 10px

